version: '3.4'

# # TO USE THIS FILE, FIRST UNCOMMENT THE FOLLOWING LINE ('services:')

services:

  api:
    volumes:
      - /volume1/docker/librechat/data/.env:/app/.env
      - /volume1/docker/librechat/data/images:/app/client/public/images
      - /volume1/docker/librechat/data/uploads:/app/uploads
      - /volume1/docker/librechat/data/logs:/app/logs
  mongodb:
    container_name: chat-mongodb
    image: mongo:4.2
    restart: always
    user: "${UID}:${GID}"
    volumes:
      - /volume1/docker/librechat/data-node:/data/db
    command: mongod --noauth
  meilisearch:
#     profiles:
#       - donotstart
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - /volume1/docker/librechat/meili_data_v1.12:/meili_data
  

# # EXPOSE MEILISEARCH PORTS - DO NOT USE THE DEFAULT VALUE FOR THE MASTER KEY IF YOU DO THIS
#   meilisearch:
#     ports:
#       - 7700:7700
